<%
layout(_view.get('_layout/content'));
block('title', 'Article');

script('front-ajax/vendor/blog.min.js');
script('front-ajax/script/module.js');
%>

<%- include(_view.get('_part/signboard')) %>

<div class="articles-view blog">
    <div class="row">
        <div class="col-md-4 order-md-2">

            <%- include('./_search') %>
            <%- include('./_categories') %>

        </div>
        <div class="col-md-8 order-md-1">

            <%- include('./_article') %>
            <%- include('./_articles') %>

        </div>
    </div>
</div>