<% const url = _url('view', model); %>
<% const subtitle = model.get('subtitle'); %>
<% const photo = model.rel('mainPhoto'); %>
<% const categories = model.rel('categories'); %>

<% if (photo) { %>
<div class="row">
  <div class="col-md-8">
    <a class="d-block mb-3" href="<%- url %>" title="<%= photo.get('description') %>">
      <img src="<%- _url('photo/thumbnail?s=md&id=' + photo.getId()) %>"
         class="img-thumbnail img-fluid" alt="">
    </a>
  </div>
</div>
<% } %>
<div class="row">
  <div class="col-md-12">
    <div class="mb-3">
      <span class="badge bg-info me-1"><%- _format(model.get('date'), 'dateLong') %></span>
    </div>
    <h3><a href="<%- url %>"><%= model.getTitle() %></a></h3>
    <% if (subtitle) { %>
    <h5><%= subtitle %></h5>
    <% } %>
    <% if (categories?.length) { %>
    <div class="my-3">
      <span class="me-1" data-t="">Categories</span>
      <% for (const category of categories) { %>
      <a href="<%- _url('category', {id: category.getId()}) %>" class="tag-item">
        <%= category.getTitle('name') %>
      </a>
      <% } %>
    </div>
    <% } %>
  </div>
</div>