<%
layout(_view.get('_layout/content'));
block('title', 'Article');

const categories = model.rel('categories');
const photos = model.rel('photos');
const comments = model.rel('comments');
%>

<%- include(_view.get('_part/signboard')) %>

<div class="row mb-3">

    <div class="col-md-8">

        <%- include('_breadcrumb', {text: 'Article'}) %>

        <h1 class="mt-3"><%= model.getTitle() %></h1>

        <p class="mb-3">
            <span class="badge-info badge">
                <%- _format(model.get('date'), 'dateLong') %>
            </span>
        </p>

        <h5 class="mb-3"><%= model.get('subtitle') %></h5>

        <%- include('./_photos', {photos}) %>

        <div class="mb-3"><%- model.get('content') %></div>

        <%- include('./_categories', {categories}) %>
        <hr>
        <%- include('./_comments', {comments}) %>
        <hr>
        <%- include('./_commentForm', {model: comment}) %>
    </div>

    <div class="col-md-4">
        <%- include('_search') %>
        <%- _view.placeWidget('categories') %>
        <%- _view.placeWidget('recentComments') %>
    </div>
</div>