<% layout(_view.get('_layout/content')) %>
<% block('title', 'Articles') %>

<%- include(_view.get('_part/signboard')) %>

<div class="row">

    <div class="col-md-4 order-md-2">
        <%- include('_search') %>
        <%- _view.placeWidget('categories') %>
        <%- _view.placeWidget('recentComments') %>
    </div>

    <div class="col-md-8 order-md-1">

        <% if (search) { %>
        <%- include('_breadcrumb', {text: `Search`})%>
        <% } %>

        <%- include(_view.get('_part/list'), {
            itemTemplate: 'article/_listItem'
        }) %>
    </div>
</div>